body {
 background-image: url('https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW91bnRhaW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
background-repeat: no-repeat;
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}


button{
  background: none;
  border: none;
  color:aliceblue;
  margin:5px;
  font-size: large;
}

button:hover{
  border: 1px;
  background-color: rgb(224, 171, 171);
}

.nav{
  display: flex;
  background-color: black;
 height:60px;
 width: 100%;
 display: flex;
}
h1{
  color:white
}
.left{
  display:flex ;
  justify-content: flex-start;
position: relative;
bottom:22px
}
.right{
 position: relative;
 left:600px;
display: flex;
justify-content: center;
}

h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
h1{
  position: relative;
 left:490px;

}
p{
  position: relative;
  left:480px;
  top:320px;
  color: whitesmoke;
}